<div class="p-grid">
  <div class="p-col-8 p-offset-2">

    <div *ngIf="state === StateEnum.UPLOAD">
      <p-fileUpload
        customUpload="true"
        (uploadHandler)="upload($event)"
      ></p-fileUpload>
    </div>

    <div *ngIf="state === StateEnum.PARAMETERS">
      <form [formGroup]="form">
        <div class="p-grid p-fluid">
          <div class="p-field p-col-6 p-offset-3">
            <label>Rate</label>
            <p-inputNumber
              formControlName="rate"
              [minFractionDigits]="3"
            ></p-inputNumber>
          </div>
          <div class="p-col2 p-offset-5">
            <p-button
              (onClick)="onSubmit()"
              [disabled]="form.invalid"
              label="Submit"
            ></p-button>
          </div>
        </div>
      </form>
    </div>

    <div *ngIf="state === StateEnum.DOWNLOAD">
      TODO Download
    </div>

  </div>
</div>
