<div class="p-grid">
  <div class="p-col-8 p-offset-2">
    <div class="p-grid">
      <div class="p-col-12">
        <h1>Upload</h1>
      </div>
      <div class="p-col-2 p-offset-5">
        <p-fileUpload
          mode="basic"
          [auto]="true"
          chooseLabel="Browse"
          customUpload="true"
          (uploadHandler)="upload($event)"
        ></p-fileUpload>
      </div>

      <div *ngIf="map" class="p-col-12">
        <form [formGroup]="form" class="p-grid p-fluid">
          <div class="p-col-12">
            <h1>Properties</h1>
          </div>
          <div class="p-field-checkbox p-col-6 p-offset-3">
            <p-checkbox
              [formControlName]="'changeSize'"
              binary="true"
              inputId="changeSize"
            ></p-checkbox>
            <label for="changeSize">Change size</label>
          </div>
          <div class="p-field p-col-6 p-offset-3">
            <label>Rate</label>
            <p-inputNumber
              formControlName="rate"
              [minFractionDigits]="3"
            ></p-inputNumber>
          </div>
          <div class="p-col-2 p-offset-5">
            <p-button
              (onClick)="onSubmit()"
              [disabled]="form.invalid"
              label="Submit"
            ></p-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
